---
import type { CollectionEntry } from "astro:content";
import IconGitHub from "@/assets/icons/IconGitHub.svg";

type Props = {
  example: CollectionEntry<"examples">;
};

const { example } = Astro.props;
const { title, description, slug, tags } = example.data;
---

<li class="my-6">
  <a
    href={`/examples/${slug}/`}
    class:list={[
      "inline-block text-lg font-medium text-accent",
      "decoration-dashed underline-offset-4 hover:underline",
      "focus-visible:no-underline focus-visible:underline-offset-0",
    ]}
  >
    <h3>{title}</h3>
  </a>
  <div class="flex items-center gap-2 opacity-80">
    <IconGitHub class="inline-block size-4" />
    <span class="text-sm">{example.data.repoPath}</span>
  </div>
  <p>{description}</p>
  {
    tags.length > 0 && (
      <div class="mt-1 flex flex-wrap gap-2">
        {tags.map(tag => (
          <span class="text-xs opacity-70">#{tag}</span>
        ))}
      </div>
    )
  }
</li>
